stages:
  - deploy
  - test

.base-url:
  only:
    variables:
      - $BASE_URL

.default-test-variables:
  variables:
    DRIVER: SauceLabs
    MARK_EXPRESSION: not headless and not download
    TEST_IMAGE: mozorg/bedrock_test:246b331bbc81529dbd435387b4fb1f891493595a
    PYTEST_PROCESSES: "4"

.deploy:
  script:
    - kubectl apply -f ${DEPLOYMENT}
    - bin/rollout-status.sh ${DEPLOYMENT}
  stage: deploy
  tags:
    - iowa-c # shell runner with iowa-a.kubeconfig via IAM role
  variables:
    KUBECONFIG: /home/gitlab-runner/.kube/iowa-a.kubeconfig
  retry: 2

.dev:
  only:
    changes:
      - "iowa-a/bedrock-dev/*"
    refs:
      - master
      - gitlab-ci-dev
    variables:
      - $CI_PIPELINE_SOURCE == "push"
  variables:
    BASE_URL: https://bedrock-dev.gcp.moz.works
    DEPLOYMENT: iowa-a/bedrock-dev
    KUBECONFIG: /home/gitlab-runner/.kube/iowa-a.kubeconfig

.prod-frankfurt:
  only:
    changes:
      - "frankfurt/bedrock-prod/*"
    refs:
      - master
    variables:
      - $CI_PIPELINE_SOURCE == "push"
  tags:
    # override tags to use runner-0 in frankfurt
    - meao
    - aws
  variables:
    BASE_URL: https://bedrock-prod.frankfurt.moz.works
    DEPLOYMENT: frankfurt/bedrock-prod
    KUBECONFIG: /home/gitlab-runner/.kube/frankfurt.kubeconfig

.oregon-b-test:
  only:
    changes:
      - "oregon-b/bedrock-test/*"
    refs:
      - master
      - bedrock-test
    variables:
      - $CI_PIPELINE_SOURCE == "push"
  tags:
    - oregon-b-shell
  variables:
    BASE_URL: https://bedrock-test.moz.works
    DEPLOYMENT: oregon-b/bedrock-test
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-b.kubeconfig

.prod-iowa-a:
  only:
    changes:
      - "iowa-a/bedrock-prod/*"
    refs:
      - master
    variables:
      - $CI_PIPELINE_SOURCE == "push"
  variables:
    BASE_URL: https://bedrock-prod.gcp.moz.works
    DEPLOYMENT: iowa-a/bedrock-prod
    KUBECONFIG: /home/gitlab-runner/.kube/iowa-a.kubeconfig

.stage:
  only:
    changes:
      - "iowa-a/bedrock-stage/*"
    refs:
      - master
    variables:
      - $CI_PIPELINE_SOURCE == "push"
  variables:
    BASE_URL: https://bedrock-stage.gcp.moz.works
    DEPLOYMENT: iowa-a/bedrock-stage
    KUBECONFIG: /home/gitlab-runner/.kube/iowa-a.kubeconfig

.test-k8s:
  image: mozorg/bedrock_test:246b331bbc81529dbd435387b4fb1f891493595a
  script:
    - cd /app
    - bin/run-integration-tests.sh

.test-shell:
  script: bin/acceptance-tests.sh

.test:
  stage: test
  extends:
    - .default-test-variables
    - .test-shell
  tags:
    - oregon-b-shell
  retry: 1

.test-chrome:
  extends: .test
  variables:
    BROWSER_NAME: chrome
    BROWSER_VERSION: latest
    PLATFORM: Windows 10

.test-download:
  extends: .test
  variables:
    DRIVER: ""
    MARK_EXPRESSION: download

.test-firefox:
  extends: .test
  variables:
    BROWSER_NAME: firefox
    BROWSER_VERSION: latest
    PLATFORM: Windows 10

.test-headless:
  extends: .test
  variables:
    DRIVER: ""
    MARK_EXPRESSION: headless

.test-ie:
  extends: .test
  variables:
    BROWSER_NAME: internet explorer
    PLATFORM: Windows 10

.test-ie9:
  extends: .test
  variables:
    BROWSER_NAME: internet explorer
    BROWSER_VERSION: "9.0"
    PLATFORM: Windows 7
    MARK_EXPRESSION: sanity

base-url-test-chrome:
  extends:
    - .base-url
    - .test-chrome

base-url-test-download:
  extends:
    - .base-url
    - .test-download

base-url-test-firefox:
  extends:
    - .base-url
    - .test-firefox

base-url-test-headless:
  extends:
    - .base-url
    - .test-headless

base-url-test-ie:
  extends:
    - .base-url
    - .test-ie

dev-deploy:
  extends:
    - .dev
    - .deploy

dev-test-chrome:
  extends:
    - .dev
    - .test-chrome

dev-test-download:
  extends:
    - .dev
    - .test-download

dev-test-firefox:
  extends:
    - .dev
    - .test-firefox

dev-test-headless:
  extends:
    - .dev
    - .test-headless

dev-test-ie:
  extends:
    - .dev
    - .test-ie

oregon-b-test-deploy:
  extends:
    - .deploy
    - .oregon-b-test

oregon-b-test-chrome:
  extends:
    - .oregon-b-test
    - .test-chrome

oregon-b-test-download:
  extends:
    - .oregon-b-test
    - .test-download

oregon-b-test-firefox:
  extends:
    - .oregon-b-test
    - .test-firefox

oregon-b-test-headless:
  extends:
    - .oregon-b-test
    - .test-headless

oregon-b-test-ie:
  extends:
    - .oregon-b-test
    - .test-ie

prod-frankfurt-deploy:
  extends:
    - .deploy
    - .prod-frankfurt  # needs to come second to override tags & variables

prod-frankfurt-test-headless:
  extends:
    - .test-headless
    - .prod-frankfurt

prod-iowa-a-deploy:
  extends:
    - .prod-iowa-a
    - .deploy

prod-iowa-a-test-chrome:
  extends:
    - .prod-iowa-a
    - .test-chrome

prod-iowa-a-test-download:
  extends:
    - .prod-iowa-a
    - .test-download

prod-iowa-a-test-firefox:
  extends:
    - .prod-iowa-a
    - .test-firefox

prod-iowa-a-test-headless:
  extends:
    - .prod-iowa-a
    - .test-headless

prod-iowa-a-test-ie:
  extends:
    - .prod-iowa-a
    - .test-ie

prod-iowa-a-test-ie9:
  extends:
    - .prod-iowa-a
    - .test-ie9

stage-deploy:
  extends:
    - .stage
    - .deploy

stage-test-chrome:
  extends:
    - .stage
    - .test-chrome

stage-test-download:
  extends:
    - .stage
    - .test-download

stage-test-firefox:
  extends:
    - .stage
    - .test-firefox

stage-test-headless:
  extends:
    - .stage
    - .test-headless

stage-test-ie:
  extends:
    - .stage
    - .test-ie

stage-test-ie9:
  extends:
    - .stage
    - .test-ie9
