stages:
  - deploy
  - test

include:
  - .gitlab/gitlab_jobs.yml

# start cluster access #
.iowa:
  tags:
    - iowa-c
  variables:
    KUBECONFIG: /home/gitlab-runner/.kube/iowa-a.kubeconfig

.frankfurt:
  tags:
    - aws
  variables:
    KUBECONFIG: /home/gitlab-runner/.kube/mozmeao-fr-1.kubeconfig
# end cluster access #

# start dev #
.dev:
  only:
    changes:
      - "iowa-a/bedrock-dev/*"
    refs:
      - master
      - SE-2920-testing-refactor
    variables:
      - $CI_PIPELINE_SOURCE == "push"
  variables:
    ENVIRONMENT_URL: https://www-dev.allizom.org

.dev-iowa:
  extends:
    - .dev
  variables:
    BASE_URL: https://bedrock-dev.gcp.moz.works
    DEPLOYMENT: iowa-a/bedrock-dev

deploy-dev-iowa:
  extends:
    - .deploy
    - .iowa
    - .dev-iowa

dev-iowa-tests:
  extends:
    - .dev-iowa
  trigger:
    include: .gitlab/deployment_tests.yml

dev-tests:
  extends:
    - .dev
  trigger:
    include: .gitlab/environment_tests.yml

# end dev #

# start test #
.test-env:
  only:
    changes:
      - "iowa-a/bedrock-test/*"
    refs:
      - master
    variables:
      - $CI_PIPELINE_SOURCE == "push"
  variables:
    ENVIRONMENT_URL: https://bedrock-test.gcp.moz.works # test doesn't have seperate cdn

.test-iowa:
  extends:
    - .test-env
  variables:
    BASE_URL: https://bedrock-test.gcp.moz.works
    DEPLOYMENT: iowa-a/bedrock-test

deploy-test-iowa:
  extends:
    - .deploy
    - .iowa
    - .test-iowa

test-iowa-tests:
  extends:
    - .test-iowa
  trigger:
    include: .gitlab/deployment_tests.yml

test-tests:
  extends:
    - .test-env
  trigger:
    include: .gitlab/environment_tests.yml
# end test #

# start stage #
.stage:
  only:
    changes:
      - "iowa-a/bedrock-stage/*"
    refs:
      - master
    variables:
      - $CI_PIPELINE_SOURCE == "push"
  variables:
    ENVIRONMENT_URL: https://www.allizom.org

.stage-iowa:
  extends:
    - .stage
  variables:
    BASE_URL: https://bedrock-stage.gcp.moz.works
    DEPLOYMENT: iowa-a/bedrock-stage

deploy-stage-iowa:
  extends:
    - .deploy
    - .iowa
    - .stage-iowa

stage-iowa-tests:
  extends:
    - .stage-iowa
  trigger:
    include: .gitlab/deployment_tests.yml

stage-tests:
  extends:
    - .stage
  trigger:
    include: .gitlab/environment_tests.yml

# start prod #
.prod:
  only:
    changes: # including all paths, will match as an or
      - "mozmeao-fr/bedrock-prod/*"
      - "iowa-a/bedrock-prod/*"
    refs:
      - master
    variables:
      - $CI_PIPELINE_SOURCE == "push"
  variables:
    NS: bedrock-prod
    ENVIRONMENT_URL: https://www.mozilla.org

.prod-iowa:
  extends:
    - .prod
  only:
    changes:
      - "iowa-a/bedrock-prod/*"
  variables:
    BASE_URL: https://bedrock-prod.gcp.moz.works
    DEPLOYMENT: iowa-a/bedrock-prod

.prod-frankfurt:
  extends:
    - .prod
  only:
    changes:
      - "mozmeao-fr/bedrock-prod/*"
  variables:
    BASE_URL: https://bedrock.prod.fr.moz.works
    DEPLOYMENT: mozmeao-fr/bedrock-prod

deploy-prod-iowa:
  extends:
    - .deploy
    - .iowa
    - .prod-iowa

deploy-prod-frankfurt:
  extends:
    - .deploy
    - .frankfurt
    - .prod-frankfurt

prod-iowa-tests:
  extends:
    - .prod-iowa
  trigger:
    include: .gitlab/deployment_tests.yml

prod-frankfurt-tests:
  extends:
    - .prod-frankfurt
  trigger:
    include: .gitlab/deployment_tests.yml

prod-tests:
  extends:
    - .prod
  trigger:
    include: .gitlab/environment_tests.yml
# end prod #
